.container{
    display: flex;
    flex-direction: row;
}
.holder{
    background-color: hsla(31,77%,52%);
    width: 1440px;
    height:auto;
}
p{
    
    padding-left:15px;
}
img{
    padding-left: 20px;
    padding-top: 20px;
}
.red1{
    color:hsla(0, 0%, 100%, 0.75);
    padding-left: 20px;
    font-size: 10px;
    font-family: lexend deca;
}
.one{
    margin-left: 40px;
    border-radius: 20px;
    border-width: 0px;
    color:hsl(31, 77%, 52%);
    background-color: white;
    border-color: 0px;
    padding: 15px;
    margin-top: 60px;

}
h1{
    color:hsla(0, 0%, 100%, 0.75);
    padding-left: 15px;
}
.holder2{
    background-color:hsl(184, 100%, 22%) ;
    width: 1440px;
    height:auto;
    
}
p{
    color:hsl(184, 100%, 22%) ;
    padding-left: 15px;
}
.red2{
    color:hsla(0, 0%, 100%, 0.75);
    padding-left: 20px;
    font-size: 10px;
    font-family: lexend deca;
}
.two{
  
    color: hsl(184, 100%, 22%) ;
    margin-left: 40px;
    border-radius: 20px;
    border-width: 0px;
    background-color: white;
    border-color: 0px;
    padding: 15px;
    margin-top: 60px;
    



}
.holder3{
    background-color: hsl(179, 100%, 13%);
    width: 1440px;
    height:auto;

    
}
.red3{
    color:hsla(0, 0%, 100%, 0.75);
    padding-left: 20px;
    font-size: 10px;
    font-family: lexend deca;
}
.three{


    margin-left: 40px;
    border-radius: 20px;
    border-width: 0px;
    color: hsl(184, 100%, 22%) ;
    background-color: white;
    border-color: 0px;
    padding: 15px;
    margin-top: 60px;
}